---
import BaseHead from "$components/BaseHead.astro";
import Header from "$components/Header.astro";
import Footer from "$components/Footer.astro";

import {
  kSiteTitle,
  kSiteDescription,
  kBaiduVeriCode,
  kUrlBase,
} from "$consts";
// @ts-ignore
import AboutContent from "../../content/about.typ?html&body";
// @ts-ignore
import CVContent from "../../content/cv.typ?html&body";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={kSiteTitle} description={kSiteDescription} />
    <!-- Baidu -->
    {
      kBaiduVeriCode && (
        <meta name="baidu-site-verification" content={kBaiduVeriCode} />
      )
    }

    <style>
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section aria-label="Prelude" class="about-section">
        <div class="about-container">
          <div class="about-content">
            <AboutContent />
          </div>
          <div class="about-image">
            <img src={`${kUrlBase}/xt.png`} alt="Profile Photo" class="profile-photo" />
          </div>
        </div>
      </section>
      <section aria-label="CV">
        <CVContent />
      </section>
    </main>
    <Footer />
  </body>
</html>
