---
import { kUrlBase } from "$consts";

const today = new Date();
---

<footer>
  <div class="footer-content">
    &copy; 2025-{today.getFullYear()} Xiaotian Han. Last updated: {today.toLocaleDateString("en-us", {
      year: "numeric",
      month: "short",
      day: "numeric",
    })}
  </div>
</footer>
